body{
    background-color: black;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 7rem;
    text-align: center;
    color: white;
    margin: 0;
    line-height: 0;
}

p:nth-of-type(5){
    color: yellow;
}
